body {
  background-color: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #111111 !important;
}
img:hover {
  cursor: pointer;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
h2:hover {
  cursor: pointer;
}
